<div class="feed-items">
    {{#each items}}
        <div class="feed-item" data-uuid="{{id}}">
            <a href="appearance/{{id}}"><img src="{{ image.url }}">
            <h2><img class="avatar" src="{{ subject.avatar.url }}"> {{ subject.name }}</h2>
            <h1>{{title}}</h1></a>
        </div>
    {{/each}}
</div>